<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav>
    <a href="/">home</a>
  </nav>
  <h1>{{header}}</h1>
  <ul>
  {% for entry in content %}
    <li><a href="/view/{{entry.0}}">{{entry.1}}</a> - {{entry.3}}</li>
  {% endfor %}
  </ul>
  {{message}}
  <footer>{{footer}}</footer>
</body>
</html>
