
{% extends "index.html" %}
{% block navbar %}
{% if request.has_permission('edit') %}
<li><a href="/logout">Logout</a></li>
{% else %}
<li><a href="/login">Login</a></li>
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="row">
            <b>{{entry.created}}</b> ==> &lt;title&gt;<span>{{entry.title}}</span>&lt;/title&gt;<span>{{entry.title}}</span>
            {{entry.markdown_text|safe}}
            <a href="{{request.route_url('edit', entry_id = entry.id)}}"><input type="submit" value="Edit"></a>
            <a href="/"><input type="button" value="Home"></a>
          <br/>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    {% if request.has_permission('edit') %}
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-6">
            <a class="btn btn-default" href="/edit_entry/{{ entry.id }}">Edit Entry</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-danger" href="/delete_entry/{{ entry.id }}">Delete Entry</a>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
