
{% extends "index.html" %}
{% block navbar %}
{% if request.has_permission('edit') %}
<li><a href="/logout">Logout</a></li>
{% else %}
<li><a href="/login">Login</a></li>
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="post">{% if entry %}{{entry.id}}{% endif %}.<input type="hidden" name="id" value="{% if entry %}{{entry.id}}{% endif %}">
      <input type="text" name="title" value="{% if entry %}{{entry.title}}{% endif %}">
      <textarea name="text">{% if entry %}{{entry.text}}{% endif %}</textarea>
      <input type="submit" value="Publish">
      <a href="/"><input type="button" value="Home"></a>
      <br/>
    </form>
</div>
{% endblock %}
